#root {
    margin: auto;
}

#viewer-menu {
    border: 1px solid black;
    width: calc(1024px - 20px);
    margin-bottom: 10px;
    padding: 10px;
}

#from-url-inputbox {
    width: 320px;
}

#listdata-table {
    background-color: white;
    width: 1024px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}

#listdata-table.double {
    width: 2048px;
    font-size: 2em;
}

.song {
    width: calc(100% + 2px);
    height: calc(100% + 2px);
    border: 2px solid black;
    box-sizing: border-box;
}

.song.drag-over-right {
    border-right-color: red;
    z-index: 1;
}

.song.drag-over-left {
    border-left-color: red;
    z-index: 1;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.title, .user-name {
    word-break: break-word;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.title {
    border-bottom: 1px dashed black;
    aspect-ratio: 5 / 3;
    font-size: 0.9em;
}

.user-name {
    height: auto;
    font-size: 0.75em;
    aspect-ratio: 3 / 1;
}

div#viewer-menu {
    display: grid;
    grid-template-columns: 520px 1fr 180px;
}

div#from-wrapper {
    grid-column: 1 / 2;
}

.to-wrapper {
    grid-column: 3 / 4;
}