#listdata-table {
    background-color: white;
}

.song {
    width: 100px;
    font-size: 12px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.thumbnail {
    height: 55px;
    width: 100px;
    object-fit: cover;
}

div#listdata-table {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    border-top: 1px solid black;
    border-left: 1px solid black;
    width: 1010px;
    height: auto;
}
