#root {
    height: calc(100vh - 16px);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

#root > * {
    margin: auto;
}

.viewer-menu {
    border: 1px solid black;
    padding: 10px;
    width: calc(1024px + -20px);
    height: 5em;
}

#edit-table {
    display: grid;
    grid-template-columns: 520px 1fr 180px;
}

#from-wrapper {
    grid-column: 1 / 2;
}

#to-wrapper {
    grid-column: 3 / 4;
}

#from-url-inputbox {
    width: 320px;
}

#edit-item {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

#update-target {
    margin-right: 0.7em;
}

#update-input {
    resize: none;
    height: 3.2em;
}

.char-size {
    width: 4em;
}

#listdata-table {
    background-color: white;
    width: 1024px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: max-content;
    overflow: hidden scroll;
    padding-right: 2px;
    flex: 1;
}

#listdata-table::-webkit-scrollbar {
    display: none;
}

#listdata-table.double {
    width: 2048px;
    font-size: 2em;
}

.song {
    width: calc(100% + 2px);
    height: fit-content;
    margin-bottom: -2px;
    border: 2px solid black;
    box-sizing: border-box;
}

.song.drag-over-right {
    border-right-color: red;
    z-index: 1;
}

.song.drag-over-left {
    border-left-color: red;
    z-index: 1;
}

.thumbnail {
    width: 100%;
    aspect-ratio: 16 / 9;
    object-fit: cover;
}

.title, .user-name {
    word-break: break-word;
    overflow: hidden;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    white-space: pre-line;
}

.title {
    border-bottom: 1px dashed black;
    aspect-ratio: 5 / 3;
    font-size: 0.9em;
}

.user-name {
    height: auto;
    font-size: 0.75em;
    aspect-ratio: 3 / 1;
}
