.song {
    width: 100px;
    font-size: 12px;
}

.thumbnail {
    height: 55px;
    width: 100px;
    object-fit: cover;
}

div#listdata-table {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
